
input{
    /* Padiing is for space inside element */
    padding:10px;
    /* Margin is for space outside element */
    margin:10px;
    color:black;
    border:0;
    width:50%;
    border-bottom:1px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
  }
  
  button{
    font-size:24px;
    cursor:pointer;
    outline:none;
    color:white;
    background:#003566;
    border:none;
    box-shadow: 0 9px #999;
    border-radius: 15px;
  }
  
  button:hover {background-color: #000814}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  textarea {
    width:70%;
    resize: vertical;
    padding:15px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:150px;
  }

  select {
    width: 80%;
    padding:10px;
    border-radius:10px;
  }