*{
  margin:0px;
  padding:0px;
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:indigo;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav button ,a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    background-color: transparent;
    display: block;
    border: 0px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  }
  
  .sidenav a:hover , button:hover{
    color: #f1f1f1;
    background:tomato;
  }
  
  .main {
    margin-left: 160px; 
    font-size: 28px; 
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .message{
    height:50px;
   text-align:center;
   margin:10px;
   padding:10px;
    color:white;
    background: tomato;
  }

  